.about-main-container {
    position: absolute;
    top: 112px;
    width: 100%;
    margin: 20px auto 0;
}
/*.about-content {
    display: block;
    height: 300px;
}*/
.about-left-side-content,
.about-right-side-content {
    width: 50%;
    min-height: 360px;
    padding: 0 24px 72px;
}

/*.about-img-row-1 {
    margin-top: 30px;
}
.about-img-caption {
    margin: 5px 0 20px;
    text-align: right;
    font-weight: bold;
}*/
.about-slider-container {
    position: relative;
    padding-top: 6px;
}
.slider-shot {
    position: absolute;
    width: 100%;
    height: auto;
    animation-duration: 24s;
    animation-iteration-count: infinite;

}
.slider-shot-1 {
    animation-name: logo-line-shot-1-opacity;
}
@keyframes logo-line-shot-1-opacity {
    from {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 0;}
    to {opacity: 0;}
}
.slider-shot-2 {
    animation-name: logo-line-shot-2-opacity;
}
@keyframes logo-line-shot-2-opacity {
    from {opacity: 0;}
    25% {opacity: 0;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    to {opacity: 0;}
}
.slider-shot-3 {
    animation-name: logo-line-shot-3-opacity;
}
@keyframes logo-line-shot-3-opacity {
    from {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: 1;}
    to {opacity: 0;}
}
.slider-shot-4 {
    animation-name: logo-line-shot-4-opacity;
}
@keyframes logo-line-shot-4-opacity {
    from {opacity: 0;}
    /*50% {opacity: 0;}*/
    75% {opacity: 0;}
    to {opacity: 1;}
}
.slider-shot-4-1 {
    animation-name: logo-line-shot-0-opacity;
}
@keyframes logo-line-shot-0-opacity {
    from {opacity: 1;}
    25% {opacity: 0;}
    /*50% {opacity: 0;}*/
    to {opacity: 0;}
}

.about-headline {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}
.about-col {
    width: 50%;
}
.about-text {
    text-align: center;
    margin-bottom: 40px;
}
.dropdown-1-headline,
.dropdown-2-headline,
.dropdown-3-headline {
    padding: 10px 16px;
    margin-bottom: 0;
    text-align: right;
    font-weight: 600;
    color: #595959;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dropdown-2-headline {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dropdown-3-headline {
    border-radius: 0 0 5px 5px;
}
.dropdown-1-headline:hover,
.dropdown-2-headline:hover,
.dropdown-3-headline:hover {
    border-color: #e9e9e9;
    cursor: pointer;
}
/*.dropdown-3-headline:hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}*/
.open-close-container-1,
.open-close-container-2,
.open-close-container-3 {
    /*margin-top: -1px;*/
    border: 1px solid #e5e5e5;
    padding: 0 10px;
}
.open-close-container-2,
.open-close-container-3 {
    display: none;
}
.open-close-container-3 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dropdown-1-text,
.dropdown-2-text,
.dropdown-3-text {
    margin-top: 10px;
    color: #000;
    text-align: right;
    list-style: none;
    direction: rtl;
}
.dropdown-1-text-item,
.dropdown-2-text,
.dropdown-3-text {
    margin-right: 10px;
}

.footer-container {
    margin-top: 64px;
}
.fa-chevron-down {
    /*position: absolute;*/
    margin-left: 8px;
    /*font-size: 14px;*/
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.dropdown-1-headline .fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.dropdown-1-headline.open .fa-chevron-down {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.dropdown-2-headline.open .fa-chevron-down,
.dropdown-3-headline.open .fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media only screen and (max-width : 767px) {
    .about-left-side-content {
        display: none;
    }
    .about-right-side-content {
        width: 100%;
    }
}

@media only screen and (max-width : 360px) {
    .contacts-link-360 {
        display: none;
    }
}
