@import url("https://fonts.googleapis.com/earlyaccess/opensanshebrew.css");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}
html, body {
    font-family: 'Open Sans Hebrew', serif;
    letter-spacing: 1px;
}
ul { list-style-type: none; }

a {
    text-decoration: none;
}

.toolbar-row {
    position: fixed;
    left: 0;
    right: 0;
    display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    z-index: 3;
}
.toolbar-row {
    height: 48px;
    padding: 0 24px;
    background-color: #fafafa;
}
.phone-number, .phone-number-caption {
    line-height: 48px;
    font-size: 20px;
    color: #2973ad;
}
.phone-number {
    font-weight: 600;
}
.phone-number:hover {
    color: #00487d;
    cursor: pointer;
}
.phone-number-caption {
    padding: 0 8px;
}
.title, .title-caption {
    line-height: 48px;
    font-size: 20px;
    color: #2973ad;
}

.top-nav-row {
    position: fixed;
    left: 0;
    right: 0;
    top: 48px;
    height: 64px;
    /*padding: 0 8px 0 24px;*/
    background-color: #2973ad;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    z-index: 5;
}
/*.navbar {
    height: 64px;
    padding: 8px 24px;
}
.navbar-toggler {
    border-color: #fafafa;
}
.nav-link {
    color: #fff;
}*/
.navbar-container {
    height: 64px;
    padding: 0 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav {
    padding: 0 36px 0 0;
}
.nav-link {
    font-size: 18px;
    color: #fff;
}
.active, .nav-link:hover {
    color: #fff;
    opacity: .8;
}
.navbar-brand {
    margin-right: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.logo-name {
    padding: 0 12px;
    font-size: 24px;
    font-weight: 600;
    color: #fafafa;
}

.row {
    padding: 0;
    margin: 0;
}
.main-container {
    position: absolute;
    top: 112px;
    width: 100%;
}
.content-container, .sidebar {
    padding: 0;
    background-color: #fafafa;
}

.works-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row-reverse wrap;
    flex-flow: row-reverse wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
    margin: 40px auto;
}
.work {
    -webkit-flex: none;
    -ms-flex:  none;
    flex:  none;
    min-width: 200px;
    min-height: 108px;
    padding: 30px 16px 24px;
    margin: 24px 8px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(10,16,20,.24)/*, 0 0 2px rgba(10,16,20,.12)*/;
    box-sizing: border-box;
    transition: box-shadow .4s;
}
.work:hover {
    box-shadow: 0 6px 6px rgba(10, 16, 20, .24), 0 0 6px rgba(10, 16, 20, .12);
}
.work-name, .work-price {
    margin: 0;
}
.work-name {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #4d4d4d;
}
.work-price {
    font-size: 16px;
    font-weight: 600;
    color: #b63b4d;
}
.fa-shekel {
    padding: 0 4px;
    font-size: 14px;
}

.sidebar {
    height: 700px;
    border-left: 1px solid rgba(0,0,0,.12);
    box-shadow: -6px 0 6px rgba(0,0,0,.1);
    z-index: 2;
}
/* ------- Smooth Accordion Dropdown Menu ------- */
.accordion {
    width: 100%;
    max-width: 360px;
    min-width: 180px;
    margin: 10px auto 20px;
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
}
.accordion .link {
    cursor: pointer;
    display: block;
    padding: 8px 12px 8px 36px;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.accordion .link:hover {
    background-color: #dbdbdb;
    color: #63a1df;
}
.accordion li:last-child .link { border-bottom: 0; }
.accordion li i {
    font-family: fontawesome;
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.accordion li i.fa-chevron-down {
    right: 24px;
    left: auto;
    font-size: 14px;
}
.accordion li.open .link { color: #2973ad; }
.accordion li.open i { color: #2973ad; }
.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.submenu {
    display: none;
    background-color: #fafafa;
    font-size: 14px;
}
.submenu li { /*border-bottom: 1px solid #4b4a5e;*/ }
.submenu a {
    display: block;
    text-decoration: none;
    color: #4d4d4d;
    padding: 6px 8px 6px 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.submenu a:hover {
    background: #63a1df;
    color: #fff;
}
/* ------- End of Smooth Accordion Dropdown Menu ------- */

@media only screen and (max-width : 767px) {
.no-displayed {
    display: none;
}
}
