.contacts-main-container {
    position: absolute;
    top: 112px;
    width: 100%;
    margin: 20px auto 0;
}
.contacts-content {
    display: block;
    height: 300px;
}
.contacts-left-side-content,
.contacts-right-side-content {
    width: 50%;
    min-height: 360px;
    padding: 0 24px 72px;
}

.contacts-slider-container {
    position: relative;
    padding-top: 6px;
}
.slider-shot {
    position: absolute;
    width: 100%;
    height: auto;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}
.slider-shot-1 {
    animation-name: logo-line-shot-1-opacity;
}
@keyframes logo-line-shot-1-opacity {
    from {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 0;}
    to {opacity: 0;}
}
.slider-shot-2 {
    animation-name: logo-line-shot-2-opacity;
}
@keyframes logo-line-shot-2-opacity {
    from {opacity: 0;}
    25% {opacity: 0;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    to {opacity: 0;}
}
.slider-shot-3 {
    animation-name: logo-line-shot-3-opacity;
}
@keyframes logo-line-shot-3-opacity {
    from {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: 1;}
    to {opacity: 0;}
}
.slider-shot-4 {
    animation-name: logo-line-shot-4-opacity;
}
@keyframes logo-line-shot-4-opacity {
    from {opacity: 0;}
    /*50% {opacity: 0;}*/
    75% {opacity: 0;}
    to {opacity: 1;}
}
.slider-shot-4-1 {
    animation-name: logo-line-shot-0-opacity;
}
@keyframes logo-line-shot-0-opacity {
    from {opacity: 1;}
    25% {opacity: 0;}
    /*50% {opacity: 0;}*/
    to {opacity: 0;}
}

.contacts-headline {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}
.contacts-text {
    text-align: center;
    margin-bottom: 40px;
    direction: rtl;
}
.contacts-link:hover {
    text-decoration: none;
    color: #2973ad;
    font-weight: 600;
}

.footer-container {
    margin-top: 64px;
}

@media only screen and (max-width : 767px) {
    .contacts-left-side-content {
        display: none;
    }
    .contacts-right-side-content {
        width: 100%;
    }
}
